<div class="register">
  <form class="register__form" role="group">
    <div class="register__form__item">
      <label class="register__form__item__title">Sign Up</label>
      <br aria-hidden="true">
      <label class="register__form__item__subtitle">Create your account!</label>
    </div>
    <div class="register__form__item">
      <text-input placeholder="E-mail" aria-required="true" type="email" value="newUser.Email">
      </text-input>
    </div>
    <div class="register__form__item">
      <text-input placeholder="Password" aria-required="true" type="password" value="password"></text-input>
    </div>
    <div class="register__form__item">
      <text-input placeholder="Repeat password" aria-required="true" type="password" value="checkPassword"></text-input>
    </div>
    <div class="register__form__item">
      <text-input placeholder="Name" aria-required="true" type="text" value="newUser.Name"></text-input>
    </div>
    <div class="register__form__item">
      <text-input placeholder="Telefone" aria-required="true" type="text" value="newUser.Telefone"></text-input>
    </div>
    <div class="register__form__item">
      <wait-button text="Get Started" classes="btn-primary btn-full" typeBtn="submit" (onClick)="onSubmit()">
      </wait-button>
    </div>
  </form>
</div>
