<div class="register">
  <div class="register__form">
    <div class="register__form__item">
      <label class="register__form__item__title">Sign Up</label>
      <br aria-hidden="true">
      <label class="register__form__item__subtitle">Create your account!</label>
    </div>
    <div class="register__form__item">
      <text-input placeholder="E-mail" aria-required="true" type="email"></text-input>
    </div>
    <div class="register__form__item">
      <text-input placeholder="Password" aria-required="true" type="password"></text-input>
    </div>
    <div class="register__form__item">
      <text-input placeholder="Repeat password" aria-required="true" type="password"></text-input>
    </div>
    <div class="register__form__item">
      <wait-button text="Get Started" classes="btn-primary"></wait-button>
    </div>
  </div>
</div>
