<div class="login">
  <div class="login__form">
    <div class="login__form__item">
      <label class="login__form__item__title">Sign In</label>
      <br aria-hidden="true">
      <label class="login__form__item__subtitle">Hello! Let's get started</label>
    </div>
    <div class="login__form__item">
      <text-input placeholder="Email" aria-required="true" type="email"></text-input>
    </div>
    <div class="login__form__item">
      <text-input placeholder="Password" aria-required="true" type="password"></text-input>
    </div>
    <div class="login__form__item">
      <wait-button text="Sign In" classes="btn-primary btn-full"></wait-button>
    </div>
    <app-checkbox label="Manter conectado"></app-checkbox>
  </div>
</div>
