@require '../consts.styl';
@require '../mixins.styl';

.home {
  flex(row, flex-start, flex-start);
  width: 100%;
  height: 100%;
  background: $primary-color;
  background: $primary-gradient;

  &__container {
    width: 50%;
    height: 100%;
    padding: 0;
    overflow: hidden;

    &__message {
      flex(column, center, center);
      padding: 5%;
      color: $white-color;
      height: 100%;
    }

    &__form {
      flex(column, center, center);
      min-height: 100%;
      padding: 5%;
      width: 100%;
      background-color: $another-grey;

      &--logo {
        img {
          width: 100%;
        }
      }

      &--back {
        margin-left: 25%;
        align-self: baseline;
      }

      &--next {
        margin-top: 20px;
        width: 50%;
      }
    }
  }
}
