// font-family
$font-regular = Roboto-Regular;
$font-medium = Roboto-Medium;
$font-bold = Roboto-Bold;
// colors
$white-color = #fff;
$black-color = #000;
$primary-color = #348F50;
$secondary-color = #56B4D3;
$another-grey = #f8f8f8;
$primary-gradient = linear-gradient(to top, $secondary-color, $primary-color);
// font-size
$default-font-size = 14px;
$size-display-1 = 48px;
$size-display-2 = 36px;
$size-display-3 = 32px;
$size-header-1 = 28px;
$size-header-2 = 24px;
$size-header-3 = 18px;
$size-header-4 = 16px;
$size-header-5 = 13px;
$size-header-6 = 11px;
$size-parag = 13px;
// Radius
$default-radius = 10px;
// borders
$default-border-outline = solid 3px $primary-color;
