@require './consts.styl';

* {
  font-family: Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;

  &:focus {
    outline: $primary-color !important;
    outline-offset: 2px !important;
  }
}

html {
  height: 100%;

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: $white-color;
    font-size: $default-font-size;
    line-height: 1.8em;
  }

  button{
    cursor: pointer !important;
  }

}

.btn {
  &-primary {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    font-size: $default-font-size + 2;
    border: solid 1px $white-color;
    color: $white-color;
    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

@font-face {
  font-family: Roboto-Regular;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('./assets/fonts/Roboto-Bold.ttf');
}
