@require '../../../consts.styl';

.text-input {
  &-reference {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 8px;
    border: 1px solid $primary-color;
  }

  &__icon {
    position: absolute;
    top: 5px;
    right: 2px;
    color: $primary-color;
    cursor: pointer;
  }
}
